.header {
	position: relative;
	background-color: var(--brand-color);
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px 4%;

	@include for-tablet-and-up {
        justify-content: center;
	}
	
	nav {
		display: flex;
		align-items: center;

		@include for-phone {
			width: 15%;
			max-width: 70px;
		}
	}
}

.main_nav {
	@include for-phone {
		position: absolute;
		top: 100%;
		left: 0;
		max-height: 0;
		width: 85%;
		overflow: hidden;
		transition: max-height .3s ease;
		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .4);
		font-size: 1.5em;
	}
	
	

	&.menu-display {
		/* display: block; */
		background-color: #177473;
		padding: 0;
		min-height: 100px;
		max-height: 1000px;
		z-index: 10;

		li {
			margin: 0;
			padding: .65rem 5%;
			border-bottom: 2px solid #fff;
		}
		li:last-of-type {
			border-bottom: none;
		}

		a {
			color: #fff;
		}
	}
	
	@include for-tablet-and-up {
		
		display: flex;
		margin-left: .5em;
	}

	li {
		margin: .2em 1em;
	}

	a {
		color: #fff;
		padding: .25em;
		font-size: 1.75rem;
		text-decoration: none;
		display: block;
		position: relative;
	}

	@include for-tablet-and-up {
        a {
			padding: .25em;
			font-size: 1.75rem;
		}
		a:after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			bottom: 2%;
			width: 0;
			height: 1px;
			background: #fff;
			opacity: 0;
			transition: all .3s ease;
		}
	
		a:hover:after {
			width: 100%;
			opacity: .5;
		}


	}

	
}

.hamburger {
    width: 31px;

    @include for-tablet-and-up {
        display: none;
    }
}
.hamburger-piece {
	display: block;
	margin: 5px 0;
    height: 4px;
    border-radius: 3px;
	background: #fff;
	transition: all .3s ease;
}


.make-x {
    .hamburger-top {
        transform: rotate(45deg) translate(8px, 5px);
    }
    .hamburger-middle {
        width: 1px;
		height: 1px;
		opacity: 0;
    }
    .hamburger-bottom {
        transform: rotate(-45deg) translate(5px, -3px);
    }
}

.nav-logo img {
	display: block;
}

.nav-cart {

	img {
		width: 1.5em;
	}
	
	@include for-tablet-and-up {
        display: none;
    }
}

.page--scrolled {
	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		box-shadow: 0 0 8px 1px rgba(0, 0, 0, .5);
		z-index: 10;
	}
	.header_spacer {
		height: 90px; /* will be overwritten with js*/
	}
}